@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;700&family=League+Spartan:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {}

body {
    background-color: #2274AC;
}

main {
    display: flex;
    height: 100vh;
}

.logo_menu {
    width: 250px;
}

/*

font-family: 'Jost', sans-serif;
font-family: 'League Spartan', sans-serif;

*/


aside {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.menu {
    min-width: 20%;
    min-height: 100vh;
    background-color: #2274AC;
}

.btn_menu iconify-icon {
    padding: 10px;
    margin: 0 10px 0 0;
    border-radius: 100px;
    background-color: #FFD100;
    color: #474545;
}

.btn_menu {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.btn_menu>a:hover {
    background-color: #FFD100;

}

.btn_menu a {
    margin: 10px;
    width: 200px;
    height: 40px;
    border-radius: 100px;
    background-color: white;
    color: #474545;
    text-decoration: none;
    font-size: 20px;
    display: flex;
    align-items: center;
    font-family: 'Jost', sans-serif;

}

footer a {
    width: 50vh;
    padding: 15px;
    background-color: #499AD1;
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: 'Jost', sans-serif;

}

footer a:hover {
    background-color: #075185;

}

footer iconify-icon {
    margin: 0 5px 0 0;
}








.titulo {
    display: flex;
    align-items: center;
    margin: 50px 0 0 100px;
    font-family: 'League Spartan', sans-serif;
    font-size: 40px;
    color: #2274AC;
}

.titulo img {
    margin: 0 30px 0 0;
}


section nav {
    display: flex;
    justify-content: center;
    font-family: 'Jost', sans-serif;
}

section nav a {
    text-decoration: none;
    color: #474545;
    margin: 50px;
    font-size: 20px;
}


section {
    width: 100%;
    background-color: #ffffff;
    border-radius: 40px 0 0 40px;
    background-image: url("../img/backgroudSection.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right top;
}

.pesquisa_projeto {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.pesquisa_projeto p {
    padding: 0 20px 0 20px;
    font-family: 'Jost', sans-serif;
    font-size: 20px;
}

.btn_pesquisar {
    font-size: 50px;
    color: #6E6E6E;
    padding: 0 0 0 20px;
}


.input-icons iconify-icon {
    position: absolute;
}

.input-icons {
    width: 30%;
    margin-bottom: 10px;
}

.icon {
    padding-top: 10px;
    color: #474545;
    min-width: 40px;
}

.input-field {
    background: transparent;
    border-radius: 100px;
    width: 350px;
    padding: 10px 10px 10px 30px;
    border: 1px solid #474545;
}

.lista_projetos{
    width: ;
}

div h2 {
    font-family: 'Jost', sans-serif;
    color: #474545;
    font-size: 20px;
    margin: 30px 0 20px 0;

}

table{
    border-bottom: 1px solid #47454533;

}
