* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {}

body {
    background-color: #2274AC;
}

main {
    display: flex;
}

.logo_menu {
    width: 250px;
}

/*font-family: 'Jost', sans-serif;*/


aside {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.menu {
    min-width: 20%;
    min-height: 100vh;
    background-color: #2274AC;
}

.btn_menu iconify-icon {
    padding: 10px;
    border-radius: 100px;
    background-color: #FFD100;
    color: #474545;
}

.btn_menu {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.btn_menu>a:hover {
    background-color: #FFD100;

}


.btn_menu a {
    margin: 10px;
    width: 200px;
    height: 40px;
    border-radius: 100px;
    background-color: white;
    color: #474545;
    text-decoration: none;
    font-size: 20px;
    display: flex;
    align-items: center;
    font-family: 'Jost', sans-serif;

}



footer a {
    width: 50vh;
    padding: 15px;
    background-color: #499AD1;
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: 'Jost', sans-serif;

}

footer a:hover {
    background-color: #075185;

}












.titulo {
    display: flex;
    align-items: center;
    margin: 50px 0 0 100px;
}

section nav {
    display: flex;
    justify-content: center;
}

section nav a {
    margin: 50px;
}

section {
    min-height: 100vh;
    width: 100%;
    background-color: #ffffff;
    border-radius: 40px 0 0 40px;
    background-image: url("../img/backgroudSection.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;


}

.pesquisa_projeto {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}


.input-icons iconify-icon {
    position: absolute;
}

.input-icons {
    width: 30%;
    margin-bottom: 10px;
}

.icon {
    padding-top: 10px;
    color: #474545;
    min-width: 40px;
}

.input-field {
    background: transparent;
    border-radius: 100px;
    width: 150px;
    padding: 10px 10px 10px 30px;
}